:host {
  display: block;
  height: 100%;
}
.container {
  background-color: #ddd;
  height: 800px;
}

.content {
  min-width: 300px;
}

#logs, #statistics {
  overflow: auto;
}

#buyables{
  overflow: auto;
}

::ng-deep .mat-tab-label-content {
  color: #D8E9A8
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #4E9F3D;                     
}